<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/main.css" />
  </head>

  <body>
    <div id="nav_menu">
      <ul>
        <li>LOGO</li>
        <li id="apply"><a href="/studentApply">실 신청</a></li>
        <!--StudentApply페이지로 이동-->
        <li id="main">마이페이지</li>
        <!--마이페이지?-->
        <li id="name"><%= user.name %> 학생</li>
        <!--User테이블 참조-->
      </ul>
      <a href="/users/logout"><button id="logout">LOGOUT</button></a>
    </div>

    <div class="UserBox">
      <img src="images/user.png" />
      <div id="profile">
        <p><%= user.name %> 학생</p>
        <p><%= user.Grade %> 학년 <%= user.Class %> 반 <%= user.Num %> 번</p>
      </div>
      <div id="etc">
        <ul>
          참여한 팀
        </ul>
        <ul>
          실 신청 현황
        </ul>
        <ul>
          실 사용중
        </ul>
      </div>
      <div id="info">
        <ul>
          <%= teamCnt %>개
        </ul>
        <% if(Booking){ %>
        <ul>
          <%= Booking.bookingRoom %>
        </ul>
        <% } %> <% if(Using){ %>
        <ul>
          <%= Using.usingRoom %>
        </ul>
        <% } %>
        <!--이게 뭐지-->
      </div>
    </div>

    <div id="using">
      <h2 id="num1">사용 중인 실</h2>
      <% if(Using){ %>
      <div id="usingRoom">
        <div id="inner">
          <img src="images/user.png" />
        </div>
        <p id="center"><%= Using.usingRoom %></p>
        <button id="returnBtn">반납</button>
      </div>
      <% } %>
    </div>
    <div id="using">
      <h2 id="num2">예약 대기중인 실</h2>
      <% if(Booking){ %>
      <div id="bookRoom">
        <div id="inner">
          <img src="images/user.png" />
        </div>
        <p id="center"><%= Booking.bookingRoom %></p>
        <button id="cancelBtn">취소</button>
      </div>
      <% } %>
    </div>
    <div id="team">
      <h2 id="num3">내 팀</h2>
      <div id="myTeam">
        <% for(var i = 0; i < team.length; i++){ %>
        <div id="team1">
          <p id="teamName"><%= team[i].TeamName %> 팀</p>
          <p id="teacher">지도 교사 : <%= team[i].name %></p>
          <p id="leader">팀장 : <%= team[i].TeamLeader %></p>
          <button id="delete" onclick="deleteTeam()">삭제</button>
        </div>
        <% } %> <% if(team.length < 4){ %>
        <!--팀은 최대 4개로-->
        <div id="addBtn1" onclick="modal('my_modal')">
          <p id="add">+</p>
        </div>
        <% } %>
      </div>
    </div>

    <div id="my_modal">
      <form class="modal-content animate" action="/addTeam" method="post">
        <div id="topBox">
          <p id="topText">팀 추가</p>
        </div>
        <div id="control">
          <p>팀 이름</p>
          <p>팀 리더</p>
          <p>팀원 (최대 4명)</p>
          <p>지도교사</p>
          <div id="txt">
            <input type="text" name="teamName" />
            <input type="text" name="leader" />
            <input type="text" name="teamMember" />
            <input type="text" name="teacher" />
          </div>
          <div id="okay">
            <button id="okBtn">확인</button>
          </div>
        </div>
        <a class="modal_close_btn">X</a>
      </form>
    </div>

    <script>
      function deleteTeam(num) {
        if (confirm("팀을 삭제하시겠습니까??") == true) {
          //삭제하는코드
        } else {
          //취소
          return false;
        }
      }

      function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement("div");
        bg.setStyle({
          position: "fixed",
          zIndex: zIndex,
          left: "0px",
          top: "0px",
          width: "100%",
          height: "100%",
          overflow: "auto",
          // 레이어 색갈은 여기서 바꾸면 됨
          backgroundColor: "rgba(0,0,0,0.4)",
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal
          .querySelector(".modal_close_btn")
          .addEventListener("click", function () {
            bg.remove();
            modal.style.display = "none";
          });

        modal.setStyle({
          position: "fixed",
          display: "block",
          boxShadow:
            "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)",

          // 시꺼먼 레이어 보다 한칸 위에 보이기
          zIndex: zIndex + 1,

          // div center 정렬
          top: "50%",
          left: "50%",
          transform: "translate(-50%, -50%)",
          msTransform: "translate(-50%, -50%)",
          webkitTransform: "translate(-50%, -50%)",
        });
      }

      // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
      Element.prototype.setStyle = function (styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
      };
    </script>
  </body>
</html>
