<!DOCTYPE html>
<html>
  <head>
    <title>studentApply</title>
    <link rel="stylesheet" href="stylesheets/apply.css" />
  </head>

  <body>
    <hr width="93.5%" color="#000000" z-index: 1; />
    <div id="btn" z-index: 1;>
      <button id="usable" onclick="change(0)">사용 가능 실</button>
    </div>
    <div id="showRoom">
      <!--하드코딩 되있는거 forEach로 수정-->
      <% for(var i = 0; i < usable.length; i++){ %>
        <div id="Room">
          <div id="inner">
            <img src="" />
          </div>
          <p name="center"><%= usable[i].name %></p>
          <button id="applyBtn" onclick="modal('my_modal', '<%= usable[i].name %>')">신청</button>
        </div>
      <% } %>

    <div id="my_modal">
      <form class="modal-content animate" action="/ApplySend" method="post">
        <div id="topBox">
          <p id="topText">자습실 신청</p>
        </div>
        <div id="control">
          <img src="" />
          <input type="text" name="roomName" id="RoomName" readonly> <!--방 이름 선택한걸로 바뀌게 할 수 있나?-->
          <p id="script">사용 교시</p>
          <div id="selectBox">
            <label
              ><input id="input8" type="checkbox" name="period" value="8" />8교시</label
            >
            <label
              ><input id="input9" type="checkbox" name="period" value="9" />9교시</label
            >
            <label
              ><input id="input10" type="checkbox" name="period" value="10" />10교시</label
            >
            <label
              ><input id="input11" type="checkbox" name="period" value="11" />11교시</label
            >
          </div>
          <p id="script2">신청팀 선택</p>
          <div>
            <select name="team" id="team">
              <% if(team) { %> <% team.forEach(element => { %>
              <option value="<%= element.TeamName %>">
                <%= element.TeamName %>
              </option>
              <% }) %><% } %>
            </select>
          </div>
          <div id="okay">
            <button id="okBtn">확인</button>
          </div>
        </div>
        <a class="modal_close_btn">X</a>
      </form>
    </div>

    <div id="nav_menu">
      <ul>
        <li>LOGO</li>
        <li id="apply">실 신청</li>
        <li id="main"><a href="/studentMain">마이페이지</a></li>
        <li id="name"><%= userName %> 학생</li>
      </ul>
      <button id="logout">LOGOUT</button>
    </div>
    <script>
      function change(num) {
        var usable = document.getElementById("usable");
        var using = document.getElementById("using");
        var showRoom = document.getElementById("showRoom");
        var doneRoom = document.getElementById("doneRoom");
        if (num == 0) {
          usable.style.borderBottom = "6px solid #5250B1";
          using.style.borderBottom = "0";
          usable.style.color = "#5250B1";
          using.style.color = "#000000";
          showRoom.style.display = "block";
          doneRoom.style.display = "none";
        } else if (num == 1) {
          usable.style.borderBottom = "0";
          using.style.borderBottom = "6px solid #5250B1";
          usable.style.color = "#000000";
          using.style.color = "#5250B1";
          showRoom.style.display = "none";
          doneRoom.style.display = "block";
        }
      }

      function checkOkay() {
        var check = document.getElementById("etc").checked;
        if (check) {
          document.getElementById("etcTxt").disabled = false;
        } else {
          document.getElementById("etcTxt").disabled = true;
        }
      }

      function modal(id, name) {
        var zIndex = 9999;
        var modal = document.getElementById(id);
        var RoomName = document.getElementById('RoomName');
        RoomName.value = name;

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement("div");
        bg.setStyle({
          position: "fixed",
          zIndex: zIndex,
          left: "0px",
          top: "0px",
          width: "100%",
          height: "100%",
          overflow: "auto",
          // 레이어 색갈은 여기서 바꾸면 됨
          backgroundColor: "rgba(0,0,0,0.4)",
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal
          .querySelector(".modal_close_btn")
          .addEventListener("click", function () {
            bg.remove();
            modal.style.display = "none";
          });

        modal.setStyle({
          position: "fixed",
          display: "block",
          boxShadow:
            "0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)",

          // 시꺼먼 레이어 보다 한칸 위에 보이기
          zIndex: zIndex + 1,

          // div center 정렬
          top: "50%",
          left: "50%",
          transform: "translate(-50%, -50%)",
          msTransform: "translate(-50%, -50%)",
          webkitTransform: "translate(-50%, -50%)",
        });
      }

      // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
      Element.prototype.setStyle = function (styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
      };
    </script>
  </body>
</html>
