<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/applyManage.css" />
  </head>

  <body>
    <div id="box">
      <p>신청 / 실 관리</p>
      <% for(var i = 0; i < applyList.length; i++){ %>
      <div id="box_content">
        <p>신청 실&nbsp;&nbsp;<%= applyList[i].name %></p>
        <p>신청 팀&nbsp;&nbsp;<%= applyList[i].Teams %></p>
        <p>사용 교시&nbsp;&nbsp;<%= applyList[i].period %></p>
        <button id="refuse">거절</button>
        <form action="/teachers/<%= userId %>/applyOk" method="POST">
          <input
            type="text"
            name="id"
            value="<%= applyList[i].id %>"
            style="display: none"
          />
          <button id="okay" type="submit">확인</button>
        </form>
      </div>
      <% } %>
    </div>
    <div id="nav_menu">
      <ul>
        <li>LOGO</li>
        <a href="/teachers/<%= userId %>"
          ><li id="studentManage">학생 관리</li></a
        >
        <li id="applyManage">신청 관리</li>
        <li id="roomNow">실 사용 현황</li>
        <li id="name"><%= userName %> 선생님</li>
      </ul>
    </div>
  </body>
</html>
